
.icon-015-browser-4:before { content: '\e800'; } /* '' */
.icon-016-browser-3:before { content: '\e801'; } /* '' */
.icon-017-smartphone:before { content: '\e802'; } /* '' */
.icon-018-laptop-1:before { content: '\e803'; } /* '' */
.icon-019-internet:before { content: '\e804'; } /* '' */
.icon-020-browser-2:before { content: '\e805'; } /* '' */
.icon-021-laptop:before { content: '\e806'; } /* '' */
.icon-022-cloud-computing:before { content: '\e807'; } /* '' */
.icon-023-24-hours:before { content: '\e808'; } /* '' */
.icon-024-folder:before { content: '\e809'; } /* '' */
.icon-025-networking:before { content: '\e80a'; } /* '' */
.icon-026-browser-1:before { content: '\e80b'; } /* '' */
.icon-027-email:before { content: '\e80c'; } /* '' */
.icon-028-employee:before { content: '\e80d'; } /* '' */
.icon-029-server:before { content: '\e80e'; } /* '' */
.icon-030-browser:before { content: '\e80f'; } /* '' */
.icon-001-browser-7:before { content: '\e810'; } /* '' */
.icon-002-computer-2:before { content: '\e811'; } /* '' */
.icon-003-computer-1:before { content: '\e812'; } /* '' */
.icon-004-server-2:before { content: '\e813'; } /* '' */
.icon-005-monitor-1:before { content: '\e814'; } /* '' */
.icon-006-browser-6:before { content: '\e815'; } /* '' */
.icon-007-computer:before { content: '\e816'; } /* '' */
.icon-008-laptop-2:before { content: '\e817'; } /* '' */
.icon-009-server-1:before { content: '\e818'; } /* '' */
.icon-010-cloud-computing-1:before { content: '\e819'; } /* '' */
.icon-011-browser-5:before { content: '\e81a'; } /* '' */
.icon-012-tap:before { content: '\e81b'; } /* '' */
.icon-013-networking-1:before { content: '\e81c'; } /* '' */
.icon-014-monitor:before { content: '\e81d'; } /* '' */
.icon-chip:before { content: '\e81e'; } /* '' */
.icon-circle:before { content: '\e81f'; } /* '' */
.icon-cloud:before { content: '\e820'; } /* '' */
.icon-coding:before { content: '\e821'; } /* '' */
.icon-coding-1:before { content: '\e822'; } /* '' */
.icon-compass:before { content: '\e823'; } /* '' */
.icon-diskette:before { content: '\e824'; } /* '' */
.icon-earphones:before { content: '\e825'; } /* '' */
.icon-file:before { content: '\e826'; } /* '' */
.icon-flash-drive:before { content: '\e827'; } /* '' */
.icon-folder:before { content: '\e828'; } /* '' */
.icon-font:before { content: '\e829'; } /* '' */
.icon-google-glasses:before { content: '\e82a'; } /* '' */
.icon-idea:before { content: '\e82b'; } /* '' */
.icon-ipad:before { content: '\e82c'; } /* '' */
.icon-keyboard:before { content: '\e82d'; } /* '' */
.icon-laptop:before { content: '\e82e'; } /* '' */
.icon-layers:before { content: '\e82f'; } /* '' */
.icon-light-bulb:before { content: '\e830'; } /* '' */
.icon-magic-wand:before { content: '\e831'; } /* '' */
.icon-monitor:before { content: '\e832'; } /* '' */
.icon-mouse:before { content: '\e833'; } /* '' */
.icon-pages:before { content: '\e834'; } /* '' */
.icon-pipette:before { content: '\e835'; } /* '' */
.icon-pixel:before { content: '\e836'; } /* '' */
.icon-portfolio:before { content: '\e837'; } /* '' */
.icon-poster:before { content: '\e838'; } /* '' */
.icon-printer:before { content: '\e839'; } /* '' */
.icon-psd-file:before { content: '\e83a'; } /* '' */
.icon-screen:before { content: '\e83b'; } /* '' */
.icon-search:before { content: '\e83c'; } /* '' */
.icon-search-1:before { content: '\e83d'; } /* '' */
.icon-security:before { content: '\e83e'; } /* '' */
.icon-settings:before { content: '\e83f'; } /* '' */
.icon-settings-1:before { content: '\e840'; } /* '' */
.icon-smartphone:before { content: '\e841'; } /* '' */
.icon-smartphones:before { content: '\e842'; } /* '' */
.icon-statistics:before { content: '\e843'; } /* '' */
.icon-statistics-1:before { content: '\e844'; } /* '' */
.icon-tablet:before { content: '\e845'; } /* '' */
.icon-vector:before { content: '\e846'; } /* '' */
.icon-video-edition:before { content: '\e847'; } /* '' */
.icon-video-player:before { content: '\e848'; } /* '' */
.icon-windows:before { content: '\e849'; } /* '' */
.icon-3d:before { content: '\e84a'; } /* '' */
.icon-3d-printer:before { content: '\e84b'; } /* '' */
.icon-cable:before { content: '\e84c'; } /* '' */
.icon-camera:before { content: '\e84d'; } /* '' */
.icon-cd:before { content: '\e84e'; } /* '' */
.icon-chat:before { content: '\e84f'; } /* '' */
.icon-arrow-to-left-inside-circles:before { content: '\e852'; } /* '' */
.icon-support:before { content: '\e853'; } /* '' */
.icon-speech-bubble-with-ellipsis:before { content: '\e856'; } /* '' */
.icon-round-chat-bubbles:before { content: '\e857'; } /* '' */
.icon-24-hours-open:before { content: '\e858'; } /* '' */
.icon-placeholder-(1):before { content: '\e859'; } /* '' */